<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>PalatePassionWorld</title>
    {% load static %}
</head>

<body
    style="background-image: url('{% static 'b.jpg' %}');background-repeat: no-repeat;background-attachment: fixed;background-size: cover;">

    <nav class="navbar navbar-expand-lg navbar-light bg-dark" style="height: 100px;">
        <div class="container-fluid">

            <a class="navbar-brand" style="text-align: center;">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRl9d4mCkegQn_dnQFq6hiPNFcQowRaBtzacA&usqp=CAU"
                    alt="Your Logo" width="50" height="50" class="d-inline-block align-top rounded-circle">
                <div style="font-family: 'Pacifico', cursive; color: rgb(150, 153, 0);"><b>PalatePassionWorld</b></div>
            </a>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">

                    <li class="nav-item">

                        <a class="btn btn-outline-warning nav-link ms-3" href="#one"
                            style="border: 1px solid yellow; color: yellow;">Home</a>

                    </li>
                    <li class="nav-item">

                        <a class="btn btn-outline-warning nav-link ms-3" href="#two"
                            style="border: 1px solid yellow; color: yellow;">About</a>

                    </li>
                    <li class="nav-item">

                        <a class="btn btn-outline-warning nav-link ms-3" href="#"
                            style="border: 1px solid yellow; color: yellow;">Join Now !</a>

                    </li>

                </ul>
            </div>
        </div>
    </nav>
    <br><br><br>

    <div class="row">
        <center>
            <div class="col-md-10"
                style="background-color: rgba(0, 0, 0, 0.8); border-radius: 20px; padding: 20px; color: #ffffff;">
              <h1 style="color:white;">Success....</h1>
            </div>
        </center>
    </div>




    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>
